<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div [formGroup]="userForm">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName='firstname'>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName='lastname'>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName='email'>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-radio-group aria-label="Select an option" formControlName='gender'>
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <button (click)="registerUser()">Submit</button>
  </div>
</div>
<router-outlet></router-outlet>
